In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_excel('Data_15.xlsx')

In [ ]:
data

         Roll No.    Sem_1_i    Sem_1_e  ...    Sem_8_e  Sem_8_b  Sem_8_t
0       110102715  73.076923  54.395604  ...  42.307692        0     64.0
1      3610102715  75.128205  56.703297  ...  50.329670        0     72.5
2      3710102715  74.102564  60.329670  ...  58.351648        0     81.5
3      3810102715  70.769231  58.241758  ...  57.032967        0     79.4
4      3910102715  75.384615  71.318681  ...  55.824176        0     78.0
...           ...        ...        ...  ...        ...      ...      ...
1387  41896502715  82.820513  56.813187  ...  57.362637        0     80.9
1388  42096502715  73.846154  55.274725  ...  53.626374        0     74.2
1389  42196502715  62.564103  42.857143  ...  52.417582        0     73.4
1390  42296502715  81.025641  52.527473  ...  54.285714        0     78.1
1391  42496502715  59.230769  45.054945  ...  51.978022        0     73.1

[1392 rows x 33 columns]

In [ ]:
x=data.iloc[:,1:27]
y=data.iloc[:,28:29]

In [ ]:
x

        Sem_1_i    Sem_1_e    Sem_1_t  ...  Sem_6_b    Sem_7_i  Sem_7_i.1
0     73.076923  54.395604  65.000000  ...        0  69.743590  49.560440
1     75.128205  56.703297  67.416667  ...        0  77.179487  62.087912
2     74.102564  60.329670  69.833333  ...        0  83.076923  64.945055
3     70.769231  58.241758  67.166667  ...        0  76.923077  58.021978
4     75.384615  71.318681  78.583333  ...        0  78.974359  62.307692
...         ...        ...        ...  ...      ...        ...        ...
1387  82.820513  56.813187  70.000000  ...        0  85.641026  58.351648
1388  73.846154  55.274725  65.916667  ...        0  81.794872  65.714286
1389  62.564103  42.857143  52.833333  ...        0  76.410256  57.582418
1390  81.025641  52.527473  66.166667  ...        0  83.333333  58.241758
1391  59.230769  45.054945  53.666667  ...        0  82.307692  65.164835

[1392 rows x 26 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()

x=scaler.fit_transform(x)
y=scaler.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
type(Y_train)

numpy.ndarray

**Linear Regression model**

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,confusion_matrix
from sklearn import svm

model_linear=LinearRegression()
model_linear.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
Y_linear_pred=model_linear.predict(X_test)
rmse_test_linear = (np.sqrt(mean_squared_error(Y_test, Y_linear_pred)))

**Support Vector Machine**

In [ ]:
model_svr=svm.SVR()
model_svr.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
Y_svr_pred=model_svr.predict(X_test)
rmse_test_svr = (np.sqrt(mean_squared_error(Y_test, Y_svr_pred)))

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor=RandomForestRegressor(n_estimators=100, criterion='mse')
regressor.fit( X_train, Y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
Y_forest_pred=regressor.predict(X_test)
rmse_test_forest=(np.sqrt(mean_squared_error(Y_test, Y_forest_pred)))

**Decision tree Regressor**

In [ ]:
from sklearn.tree import DecisionTreeRegressor
tree=DecisionTreeRegressor()
tree.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
Y_dtree_pred=tree.predict(X_test)
rmse_test_dtree=(np.sqrt(mean_squared_error(Y_test, Y_dtree_pred)))

**Calculated Errors of Various Models**

In [ ]:
print("Linear Regression: " ,rmse_test_linear)
print("Support Vector Machine: " ,rmse_test_svr)
print("Random Forest Regressor : " ,rmse_test_forest)
print("Decision Tree Regressor :" ,rmse_test_dtree )

Linear Regression:  0.016838807133710602
Support Vector Machine:  0.2340430992205183
Random Forest Regressor :  0.08191507481868603
Decision Tree Regressor : 0.15083740979668533